<div class="hero-unit hero-unit-prelaunch">
	<div class="logo-prelaunch">
		<div class="row">
			<div class="offset4 span6">
				<h2><br>International startups, technology<br> and culture, lah.</h2>
				<p>Think Gangham Style meets Startup Chile. And a puppy named Gorbachev.</p>
						<p>For more, check out ehip on... </p>
				<div class="btn-toolbar">
					<a href="http://facebook.com/ehip" target="_blank" class="btn btn-large btn-primary"><h3>Facebook</h3></a>
					<a href="http://twitter.com/ehipnews" target="_blank" class="btn btn-large btn-info"><h3>Twitter</h3></a>
				</div><!-- end:toolbar -->
			</div><!-- end:span6 -->
		</div><!-- end:row -->
	</div><!-- end:logo-prelaunch -->
</div><!-- end:hero-unit -->

<div class="row">

	<div class="startup span4">
		<div class="row-fluid">
			<div class="span1 voted_nil pull-center">
				<%= link_to content_tag(:i, '', :class => "icon-chevron-up vote_up", :style => "font-size: 20px"), "#" %><br>
				<%= content_tag(:h4, "17", :class => "vote_count vote_count_down") %>
				<%= link_to content_tag(:i, '', :class => "icon-chevron-down vote_down", :style => "font-size: 20px"), "#" %><br>
				<%= link_to content_tag(:i, '', :class => "icon-star not-starred", :style => "font-size: 20px"), "#" %><br><br>
			</div>
			<div class="span11">
				 <div class="nugget image_test">
		    	<%= link_to image_tag("http://i.imgur.com/s6YOY.png", :border => 0, :alt => "Digital Patriotism = Corporate Suicide?", :size => "300x200"), "http://www.techinasia.com/baidu-islands-patriotism-vietnam-japan/", {:class => 'thumbnail', :target=> '_blank'} %>
					<a href="#">
						<p class="action_text text"><span><i class="icon-book icon-white"></i>  Read</span></p>					</a>
				</div>
				<a href="#" class="date">
					<p class="date">
						<small>
							August 28th, 2012
						</small>
					</p>
				</a>
		    <div class="title" style="height: 100px;">
		    	<h3>
		    		<a href="http://www.techinasia.com/baidu-islands-patriotism-vietnam-japan/" class="action show" target="_blank" style="line-height: 30px;">
		    			Digital Patriotism = Corporate Suicide?
		    		</a>
		    	</h3>
		    </div>			
		  </div>
		</div>
	</div>

	<div class="startup span4">
		<div class="row-fluid">
			<div class="span1 voted_nil pull-center">
				<%= link_to content_tag(:i, '', :class => "icon-chevron-up vote_up", :style => "font-size: 20px"), "#" %><br>
				<%= content_tag(:h4, "13", :class => "vote_count vote_count_down") %>
				<%= link_to content_tag(:i, '', :class => "icon-chevron-down vote_down", :style => "font-size: 20px"), "#" %><br>
				<%= link_to content_tag(:i, '', :class => "icon-star not-starred", :style => "font-size: 20px"), "#" %><br><br>
			</div>
			<div class="span11">
				 <div class="nugget image_test">
		    	<%= link_to image_tag("http://i.imgur.com/b6URZ.png", :border => 0, :alt => "Apple Thinks NFC is a Bag of Hurt", :size => "300x200"), "http://www.imore.com/should-apple-have-included-nfc-iphone-5", {:class => 'thumbnail', :target=> '_blank'} %>
					<a href="#">
						<p class="action_text image"><span><i class="icon-camera icon-white"></i>  Look</span></p>				
					</a>
				</div>
				<a href="#" class="date">
					<p class="date">
						<small>
							August 28th, 2012
						</small>
					</p>
				</a>
		    <div class="title" style="height: 100px;">
		    	<h3>
		    		<a href="http://www.imore.com/should-apple-have-included-nfc-iphone-5" class="action show" target="_blank" style="line-height: 30px;">
		    			Apple Thinks NFC is a Bag of Hurt.
		    		</a>
		    	</h3>
		    </div>			
		  </div>
		</div>
	</div>

	<div class="startup span4">
		<div class="row-fluid">
			<div class="span1 voted_up pull-center">
				<%= link_to content_tag(:i, '', :class => "icon-chevron-up vote_up", :style => "font-size: 20px"), "#" %><br>
				<%= content_tag(:h4, "39", :class => "vote_count vote_count_down") %>
				<%= link_to content_tag(:i, '', :class => "icon-chevron-down vote_down", :style => "font-size: 20px"), "#" %><br>
				<%= link_to content_tag(:i, '', :class => "icon-star starred", :style => "font-size: 20px"), "#" %><br><br>
			</div>
			<div class="span11">
				 <div class="nugget image_test">
		    	<%= link_to image_tag("http://i.imgur.com/g77rD.png", :border => 0, :alt => "You Khan Be the Next YouTube Star", :size => "300x200"), "http://youtube-global.blogspot.ca/2012/09/finding-next-generation-of-talented.html", {:class => 'thumbnail', :target=> '_blank'} %>
					<a href="#">
							<p class="action_text video">
							<span><i class="icon-facetime-video icon-white"></i>  Watch</span>
						</p>
				</a>
				</div>
				<a href="#" class="date">
					<p class="date">
						<small>
							August 28th, 2012
						</small>
					</p>
				</a>
		    <div class="title" style="height: 100px;">
		    	<h3>
		    		<a href="http://youtube-global.blogspot.ca/2012/09/finding-next-generation-of-talented.html" class="action show" target="_blank" style="line-height: 30px;">
		    			You Khan Be the Next YouTube Star.
		    		</a>
		    	</h3>
		    </div>			
		  </div>
		</div>
	</div>

</div>

<div class="row">

	<div class="startup span4">
		<div class="row-fluid">
			<div class="span1 voted_nil pull-center">
				<%= link_to content_tag(:i, '', :class => "icon-chevron-up vote_up", :style => "font-size: 20px"), "#" %><br>
				<%= content_tag(:h4, "21", :class => "vote_count vote_count_down") %>
				<%= link_to content_tag(:i, '', :class => "icon-chevron-down vote_down", :style => "font-size: 20px"), "#" %><br>
				<%= link_to content_tag(:i, '', :class => "icon-star starred", :style => "font-size: 20px"), "#" %><br><br>
			</div>
			<div class="span11">
				 <div class="nugget image_test">
		    	<%= link_to image_tag("http://i.imgur.com/K6U6T.png", :border => 0, :alt => "America waits for the JOBS Act. MENA says Eureeca!", :size => "300x200"), "http://www.wamda.com/2012/09/is-equity-crowdfunding-a-viable-model-in-mena-a-look-at-eureeca", {:class => 'thumbnail', :target=> '_blank'} %>
					<a href="#">
						<p class="action_text text"><span><i class="icon-book icon-white"></i>  Read</span></p>
					</a>
				</div>
				<a href="#" class="date">
					<p class="date">
						<small>
							August 28th, 2012
						</small>
					</p>
				</a>
		    <div class="title" style="height: 100px;">
		    	<h3>
		    		<a href="http://www.wamda.com/2012/09/is-equity-crowdfunding-a-viable-model-in-mena-a-look-at-eureeca" class="action show" target="_blank" style="line-height: 30px;">
		    			America waits for the JOBS Act. MENA says Eureeca!
		    		</a>
		    	</h3>
		    </div>			
		  </div>
		</div>
	</div>


	
	<div class="startup span4">
		<div class="row-fluid">
			<div class="span1 voted_down pull-center">
				<%= link_to content_tag(:i, '', :class => "icon-chevron-up vote_up", :style => "font-size: 20px"), "#" %><br>
				<%= content_tag(:h4, "28", :class => "vote_count vote_count_down") %>
				<%= link_to content_tag(:i, '', :class => "icon-chevron-down vote_down", :style => "font-size: 20px"), "#" %><br>
				<%= link_to content_tag(:i, '', :class => "icon-star starred", :style => "font-size: 20px"), "#" %><br><br>
			</div>
			<div class="span11">
				 <div class="nugget image_test">
		    	<%= link_to image_tag("http://i.imgur.com/WAY0J.png", :border => 0, :alt => "Are you for Real? Will Facebook's Crackdown Improve Asia's Digital Ecosystem?", :size => "300x200"), "http://www.campaignindia.in/Article/314774,facebooks-removal-of-fake-likes-may-have-heaviest-impact-on-asia.aspx", {:class => 'thumbnail', :target=> '_blank'} %>
					<a href="#">
						<p class="action_text text"><span><i class="icon-book icon-white"></i>  Read</span></p>
					</a>
				</div>
				<a href="#" class="date">
					<p class="date">
						<small>
							August 28th, 2012
						</small>
					</p>
				</a>
		    <div class="title" style="height: 100px;">
		    	<h3>
		    		<a href="http://www.campaignindia.in/Article/314774,facebooks-removal-of-fake-likes-may-have-heaviest-impact-on-asia.aspx" class="action show" target="_blank" style="line-height: 30px;">
		    		Are you for Real? Will Facebook's Crackdown Improve Asia's Digital Ecosystem?
		    		</a>
		    	</h3>
		    </div>			
		  </div>
		</div>
	</div>

	<div class="startup span4">
		<div class="row-fluid">
			<div class="span1 voted_up pull-center">
				<%= link_to content_tag(:i, '', :class => "icon-chevron-up vote_up", :style => "font-size: 20px"), "#" %><br>
				<%= content_tag(:h4, "28", :class => "vote_count vote_count_down") %>
				<%= link_to content_tag(:i, '', :class => "icon-chevron-down vote_down", :style => "font-size: 20px"), "#" %><br>
				<%= link_to content_tag(:i, '', :class => "icon-star not-starred", :style => "font-size: 20px"), "#" %><br><br>
			</div>
			<div class="span11">
				 <div class="nugget image_test">
		    	<%= link_to image_tag("http://i.imgur.com/jtFlz.png", :border => 0, :alt => "Jogja Hiphop Foundation: Hiphop meets Javanese Poetry.", :size => "300x200"), "http://andisboediman.blogspot.ca/2011/10/jogja-hiphop-foundation-voice-of.html", {:class => 'thumbnail', :target=> '_blank'} %>
					<a href="#">
							<p class="action_text video">
							<span><i class="icon-facetime-video icon-white"></i>  Watch</span>
						</p>
				</a>
				</div>
				<a href="#" class="date">
					<p class="date">
						<small>
							August 28th, 2012
						</small>
					</p>
				</a>
		    <div class="title" style="height: 100px;">
		    	<h3>
		    		<a href="http://andisboediman.blogspot.ca/2011/10/jogja-hiphop-foundation-voice-of.html" class="action show" target="_blank" style="line-height: 30px;">
		    			Jogja Hiphop Foundation: Hiphop meets Javanese Poetry.
		    		</a>
		    	</h3>
		    </div>			
		  </div>
		</div>
	</div>



</div>	